/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100%;
  font-size: 28px;
  font-family: Manrope;
  font-weight: 800;
  border-style: solid;
  border-width: 30px 20px 30px 20px
  background-color: hpx 218, 23%, 16%);
}
px 
